.game {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left {
    padding: 0 10px 0 0;
}

.right {
    border: 1px solid white;
    border-radius: 5px;
    gap: 0;
}

@media screen and (max-width: 1050px) {
    .game {
        flex-direction: column-reverse;
        width: 95%;
        box-sizing: border-box;
    }

    .left, .right {
        padding: 0;
        margin: 0;
    }
    .right {
        margin-bottom: 10px;
    }
}