<div class="encoder">
    <table>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
    </table>
    
    <table>
      <tr>
        <td><div class="btn circle green"></div></td>
        <td><div class="btn circle blue"></div></td>
        <td><div class="btn circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="btn circle purple"></div></td>
        <td><div class="btn circle yellow"></div></td>
        <td><div class="btn circle maroon"></div></td>
      </tr>
      <tr>
        <td class="btn reset">Reset</td>
        <td><div class="btn circle orange"></div></td>
        <td class="btn send">Send</td>
      </tr>
    </table>

  </div>