<div class="container">
  <div class="col left">
    <div class="answer">
      <table>
        <tr>
          <td><div class="circle green"></div></td>
          <td><div class="circle blue"></div></td>
          <td><div class="circle blue"></div></td>
          <td><div class="circle magenta"></div></td>
        </tr>
      </table>
    </div>
    <div class="encoder">
      <table>
        <tr>
          <td><div class="circle green"></div></td>
          <td><div class="circle blue"></div></td>
          <td><div class="circle blue"></div></td>
          <td><div class="circle magenta"></div></td>
        </tr>
      </table>
      
      <table>
        <tr>
          <td><div class="circle green"></div></td>
          <td><div class="circle blue"></div></td>
          <td><div class="circle magenta"></div></td>
        </tr>
        <tr>
          <td><div class="circle purple"></div></td>
          <td><div class="circle yellow"></div></td>
          <td><div class="circle maroon"></div></td>
        </tr>
        <tr>
          <td>Reset</td>
          <td><div class="circle orange"></div></td>
          <td>Send</td>
        </tr>
      </table>

    </div>
  </div>
  <div class="col right">
    <table>
      <tr>
        <td class="correct"><div class="circle green"></div></td>
        <td class="wrong-color"><div class="circle blue"></div></td>
        <td class="wrong-position"><div class="circle blue"></div></td>
        <td class="wrong-color"><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
      <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
      </tr>
    </table>
  </div>
</div>