

select, input {
    width: 100%;
    margin-top: 10px;
}

input {
    box-sizing: border-box;
}

label {
    font-size: 1rem;
}

.btn {
    font-size: 1rem;
    border: 1px solid white;
    background-color: black;
    padding: 5px 20px;
    color: white;
}

.btn:hover {
    border-color: black;
    background-color: white;
    color: black;
}