

select, input {
    width: 100%;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    
}

input {
    box-sizing: border-box;
}

label {
    font-size: 1rem;
}

.btn {
    font-size: 1rem;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: white;
    color: black;
}