<h2>Settings</h2>

<!-- Add a reactive form here -->
<!-- * Mode: Singleplayer (randomly generated combination) -->
<!--         Multiplayer (player2-generated combination) -->
<!-- * Max number of attempts -->
<!--         For large numbers, it should be a good idea to make a scroll bar within -->
<!--         the attempts panel, to avoid displaying too many useless attempts -->
<!-- * Number of available colors (between 4 and 7) -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="input-mode">Game mode: (Yet inactive) (default: solo)</label>
        <select id="input-mode" formControlName="gameMode"autofocus>
            <option value="solo">Solo</option>
            <option value="multi">Multi</option>
        </select>
    </div>
    <div>
        <label for="input-nb-attempts">Number of attempts: (default: 10)</label>
        <input type="number"
                id="input-nb-attempts"
                formControlName="maxNbAttempts">
    </div>
    <div>
        <label for="input-available-colors">Number of available colors: (Yet inactive) (default: 7)</label>
        <select id="input-available-colors" formControlName="nbAvailableColors">
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
    </div>
    <button class="btn" type="submit">{{ form.pristine ? 'Play' : 'Set and play' }}</button>
</form>