<div class="encoder">
    <h3>Encoding panel</h3>
    <table id="screen">
      <tr>
        <td><div class="circle {{ currentCombination[0] ? currentCombination[0].color : '' }}"></div></td>
        <td><div class="circle {{ currentCombination[1] ? currentCombination[1].color : '' }}"></div></td>
        <td><div class="circle {{ currentCombination[2] ? currentCombination[2].color : '' }}"></div></td>
        <td><div class="circle {{ currentCombination[3] ? currentCombination[3].color : '' }}"></div></td>
      </tr>
    </table><!-- Screen -->

    <div class="pad">
      <div *ngFor="let color of colors">
        <div (click)="onSelectingColor(color)" class="btn circle {{ color }}"></div>
      </div>
      <div>
        <div (click)="onResetCombination()" class="btn circle reset"><p>R</p></div>
      </div>
      <div>
        <div (click)="onSendCombination()" class="btn circle send"><p>S</p></div>
      </div>
    </div>


  </div>