.encoder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid white;
    color: black;
}

.encoder h3 {
    color: white;
}

.btn:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    font-size: 0.8rem;
}

.circle > p {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}
