<div class="encoder">
    <h3>Encoding panel</h3>
    <table id="screen">
      <tr>
        <td><div class="circle {{ currentCombination[0] ? currentCombination[0].color : '' }}"></div></td>
        <td><div class="circle {{ currentCombination[1] ? currentCombination[1].color : '' }}"></div></td>
        <td><div class="circle {{ currentCombination[2] ? currentCombination[2].color : '' }}"></div></td>
        <td><div class="circle {{ currentCombination[3] ? currentCombination[3].color : '' }}"></div></td>
      </tr>
    </table><!-- Screen -->

    <div class="pad">
      <div *ngFor="let color of colors">
        <div (click)="onSelectingColor(color)" class="btn circle {{ color }}"></div>
      </div>
      <div>
        <div (click)="onResetCombination()" class="btn circle reset"><p>R</p></div>
      </div>
      <div>
        <div (click)="onSendCombination()" class="btn circle send"><p>S</p></div>
      </div>
    </div>
    
    <!-- <table>
      <tr>
        <td><div (click)="onSelectingColor('green')" class="btn circle green"></div></td>
        <td><div (click)="onSelectingColor('blue')" class="btn circle blue"></div></td>
        <td><div (click)="onSelectingColor('magenta')" class="btn circle magenta"></div></td>
      </tr>
      <tr>
        <td><div (click)="onSelectingColor('purple')" class="btn circle purple"></div></td>
        <td><div (click)="onSelectingColor('yellow')" class="btn circle yellow"></div></td>
        <td><div (click)="onSelectingColor('maroon')" class="btn circle maroon"></div></td>
      </tr>
      <tr>
        <td><div (click)="onSelectingColor('cyan')" class="btn circle cyan"></div></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td (click)="onResetCombination()" class="btn reset">Reset</td>
        <td (click)="onSendCombination()" class="btn send">Send</td>
      </tr>
    </table> encoding pad
    -->

  </div>