<table>
    <tr>
        <td class="correct"><div class="circle green"></div></td>
        <td class="wrong-color"><div class="circle blue"></div></td>
        <td class="wrong-position"><div class="circle blue"></div></td>
        <td class="wrong-color"><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
    <tr>
        <td><div class="circle green"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle blue"></div></td>
        <td><div class="circle magenta"></div></td>
    </tr>
</table>